{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
<div class="card col-2" style="z-index:5;width:display:inline;height:96%;position:absolute;display:none;">
    <div class="card-header">
        <div class="row">
            <div class="col-9"><h3>MENU</h3></div>
            <div class="col-3" style="background:red;color:white;text-align:center;font-weight:bold;cursor:pointer">X</div>
        </div>
        <hr>
        <div class="card-body">
        Home
        </div>
    </div>
</div>
<div class="card" style="position:relative;">
<duv class="card-body">card test</div></div></div>
{% endblock %}